.page {
  display: flex;
  flex-direction: row;
}

.page .page__sidebar {
  width: 30%;
  padding: 1.5rem;
}

.page .page__content {
  width: 70%;
  padding: 1.5rem;
}

@media screen and (max-width: 1000px) {
  .page {
    flex-direction: column;
  }
  .page .page__sidebar {
    width: 100%;
  }
  .page .page__content {
    width: 100%;
  }
}
