#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
	background-color: rgb(50, 50, 50);
}

.title {
  margin: 15px 0 0;
  padding: 15px;
  line-height: 30px;
  font-size: 30px;
}

.alert {
  padding: 10px 15px;
  color: rgb(150, 150, 150);
}

.menu-link {
  display: inline-block;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 15px;
  outline: none;
  opacity: 0.75;
  transition: opacity ease-out 0.2s;
}

.menu-link:hover,
.menu-link.active {
  opacity: 1;
}

.footer {
  color: rgb(150, 150, 150);
  text-align: center;
  padding: 15px;
  margin-top: auto;
}

.footer__link {
  color: rgb(150, 150, 150);
}



.page {
  display: flex;
  flex-direction: row;
}

.page__sidebar {
  width: 30%;
  padding: 15px;
}

.page__content {
  width: 70%;
  padding: 15px;
}



.word-row {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px 15px;
  background-color: rgb(40, 40, 40);
  margin-bottom: 15px;
  cursor: pointer;
  transition: opacity ease-out 0.2s, background-color ease-out 0.2s;
}

.word-row:hover {
  background-color: rgb(50, 50, 50);
}

.word-row:last-child {
  margin-bottom: 0;
}

.word-row.word-row-dnd-active {
  opacity: 0.5;
}

.word-row.word-row-dnd-enter:hover {
  background-color: rgb(40, 40, 40);
}

.word-row.word-row-dnd-enter::before {
  content: '';
  position: absolute;
  top: -1px;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: rgb(75, 75, 75);
}

.word-row__dnd {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.word-row__content {
  flex-direction: row;
  display: flex;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word-row-active .word-row__content {
  flex-direction: column;
  white-space: normal;
}

.word-row__word {
  margin-right: 15px;
  font-weight: bold;
}

.word-row__subword {
  display: none;
}

.word-row__trans {
  display: none;
  font-weight: lighter;
}

.word-row-active .word-row__trans {
  display: block;
}

.word-row-active .word-row__subword {
  display: inline;
}

.word-row__def {
  display: flex;
  flex-direction: row;
  text-overflow: ellipsis;
  overflow: hidden;
}

.word-row-active .word-row__def {
  flex-direction: column;
}

.word-row__type {
  margin-right: 15px;
  font-style: italic;
}

.word-row__star {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.word-row__svg {
  width: 17px;
  height: 17px;
  opacity: 0.5;
  fill: transparent;
  display: block;
  transition: opacity ease-out 0.2s;
}

.word-row__svg:hover {
  opacity: 1;
}

.word-row__svg-active {
  fill: white;
}

.word-row__g {
  stroke-width: 6%;
  stroke: white;
  stroke-linejoin: bevel;
}

.word-row__text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: none;
}

.word-row__def .word-row__text:first-child {
  display: block;
}

.word-row-active .word-row__def .word-row__text {
  display: block;
  border-top: 1px solid rgb(60, 60, 60);
  margin-top: 5px;
  padding-top: 2px;
}



.search-form {
  display: inline-block;
  width: 100%;
  box-shadow: 0 0 0 1px rgb(50, 50, 50);
}

.search-form__input {
  display: block;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  line-height: 20px;
  color: white;
  font-family: unset;
  font-size: 16px;
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px rgb(50, 50, 50);
  transition: box-shadow ease-out 0.2s;
}

.search-form__input:active,
.search-form__input:focus {
  box-shadow: 0 0 2px 2px rgb(75, 75, 75);
}

.search-form__link {
  cursor: pointer;
  padding: 5px;
  background-color: rgb(35, 35, 35);
  transition: background-color ease-out 0.2s;
}

.search-form__link:hover {
  background-color: rgb(45, 45, 45);
}

.search-form__label {
  display: block;
  padding: 0 10px;
  margin: 10px 0;
}

.search-form__checkbox {
  display: none;
}

.search-form__span {
  display: block;
  position: relative;
  padding-left: 24px;
}

.search-form__span::before {
  content: '✓';
  display: block;
  position: absolute;
  text-align: center;
  line-height: 16px;
  height: 16px;
  width: 16px;
  left: 0px;
  top: 3px;
  background-color: rgb(60, 60, 60);
  color: transparent;
  transition: color ease-out 0.1s, background-color ease-out 0.1s;
}

.search-form__span:hover::before {
  background-color: rgb(75, 75, 75);
}

.search-form__checkbox:checked ~ .search-form__span::before {
  color: rgb(200, 200, 200);
}



@media screen and (max-width: 1000px) {
  .page {
    flex-direction: column;
  }
  .page__sidebar {
    width: 100%;
  }
  .page__content {
    width: 100%;
  }
}