*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: white;
  background-color: rgb(30, 30, 30);
  font-family: Helvetica;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}